* {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: "Barriecito", cursive;
  color: #222;
  background: -webkit-linear-gradient(
    90deg,
    hsla(48, 100%, 51%, 1) 0%,
    hsla(78, 84%, 32%, 1) 100%
  );
  filter: progid: DXImageTransform.Microsoft.gradient( startColorstr="#FFCE06", endColorstr="#6C960D", GradientType=1 );
}

.header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
  padding: 2rem ;
  padding-bottom: 0;
}

.theme-toggle{
  margin: 2rem;
}

.title {
  text-align: center;
  font-family: "Barriecito", cursive;
  font-size: 4em;
}

.main {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  line-height: 3rem;
}

.main__aboutme {
  width: 70%;
  font-size: 2em;
  text-align: justify;
  margin-bottom: 2rem;
  flex-shrink: 1;
}

.list {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  font-size: 2em;
  padding-bottom: 10px;
}

.list__item {
  margin: 0.5rem 1rem;
}

.buttonmode {
  font-size: 25px;
  background-color: #222;
  mask-image: url("/images-logos/moon-stars-solid.svg");
  -webkit-mask-image: url("/images-logos/moon-stars-solid.svg");
  width: 50px;
  height: 50px;
  border: none;
  margin: 4rem 0;
  cursor: pointer;
}

/**/

.darkmode {
  background: #222;
  color: #e3dac9;
}
.darkmode img {
  filter: invert();
}
.darkmode .buttonmode {
  background-color: #e3dac9;
  mask-image: url("/images-logos/sun-solid.svg");
  -webkit-mask-image: url("/images-logos/sun-solid.svg");
}
.darkmode .list__item img {
  filter: invert(75%) sepia(1%) saturate(3686%) hue-rotate(355deg) brightness(101%) contrast(135%);
}
