*{
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
 
  

}



body{
 min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family:Arial, Helvetica, sans-serif;
  background-color:aliceblue;
  color: #222;
}


.header{
  
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    
    
}

.title {
  
  text-align: center;
  font-family: 'Inspiration', cursive;
  font-family: 'Rock 3D', cursive;
  font-size: 4em;
  
  
}



.main{
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items:center;
  justify-content: space-around;
  line-height: 3rem;
  
}

.main__aboutme{
  
  width: 70%;
  font-size: 2em;
  text-align:justify;
  margin-bottom: 6rem;
  flex-shrink: 1;

  
}


.list{
  width: 50%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  font-size: 2em;
  font-family: 'Inspiration', cursive;
  font-family: 'Rock 3D', cursive;
}



.list__item{
  margin: 0 5%;
  
}

.buttonmode{
  font-size: 25px;
  background-color: #222;
  mask-image: url('/images-logos/moon-stars-solid.svg');
  -webkit-mask-image: url('/images-logos/moon-stars-solid.svg');
  width: 50px;
  height: 50px;
  border: none;
  margin: 4rem 0; 
  cursor: pointer;
 
  
 
}

/**/

.darkmode{
  background-color: #222;
  color: aliceblue;
}
.darkmode img{
  filter: invert();
}
.darkmode .buttonmode{
  background-color: aliceblue;
  mask-image: url('/images-logos/sun-solid.svg');
  -webkit-mask-image: url('/images-logos/sun-solid.svg');
}



