*{
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  color: #000;

}


.header{
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
    
}

.title {
  margin: auto;
  font-family: 'Inspiration', cursive;
  font-family: 'Rock 3D', cursive;
  font-size: 5em;
}


.main{
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}
.list{
  width: 100%;
  display: flex;
  justify-content: space-around;
  font-size: 2em;
  font-weight: 700;
  font-family: 'Inspiration', cursive;
  font-family: 'Rock 3D', cursive;
  
}
.list--item{
  font-weight: 400;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
 
  
}
.list--item__link{
  display: flex; 
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  

}
